In [2]:
import numpy as np
import pandas as pd

In [12]:
N = 10000
df = pd.DataFrame(np.random.standard_normal((N,N)))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,-1.260854,1.679606,0.043759,0.404479,-0.196447,1.330650,0.002365,0.431201,-0.019960,-0.316995,...,0.203201,0.100148,1.324302,1.236486,1.491203,-0.054349,-0.658974,0.773958,0.159881,-0.052235
1,-0.205721,-0.445717,1.090663,-0.921806,-1.530755,-1.269029,0.824274,-0.563733,-1.980511,0.324352,...,0.629286,0.501944,0.150732,-1.233775,-0.029744,0.510150,-0.964820,-0.291137,-0.834196,-0.373061
2,-0.706357,-0.829907,0.760215,0.549125,0.632601,0.962225,-1.225728,1.233969,1.257546,1.002012,...,0.657647,-0.830809,0.965277,1.063030,-0.650667,0.233351,0.290450,1.489916,1.831419,0.398428
3,-0.599551,-0.777337,-1.178460,0.010105,-0.581207,-0.463495,-0.382210,1.746565,1.253050,0.481973,...,1.256951,-1.229760,-1.993899,0.316261,0.839687,0.654416,-0.210771,0.036627,0.077672,0.138645
4,-1.004519,0.573876,0.987764,0.556009,-0.142992,0.513841,1.645525,-0.594084,0.406851,1.271538,...,0.461274,0.329466,0.480200,0.001579,-0.871769,0.440768,0.480890,-0.441128,1.049331,0.745651

In [13]:
def squarePandas(df):
    return df**2
def squareNumpy(df):
    return pd.DataFrame(df.values**2,index=df.index,columns=df.columns)

In [14]:
%timeit -n 1 -r 1 squarePandas(df=df)

1.07 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [15]:
%timeit -n 1 -r 1 squareNumpy(df=df)

236 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)